main/files/xsd/marca.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="marca">
        <xs:complexType>
            <xs:choice maxOccurs="unbounded" minOccurs="0">
                <xs:element type="xs:string" name="nombre"/>
                <xs:element name="productos">
                    <xs:complexType mixed="true">
                        <xs:sequence>
                            <xs:element name="productos" minOccurs="0">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element type="xs:string" name="nombre"/>
                                        <xs:element type="xs:string" name="tipo"/>
                                        <xs:element type="xs:string" name="descripcion"/>
                                        <xs:element type="xs:float" name="precio"/>
                                    </xs:sequence>
                                    <xs:attribute type="xs:string" name="fechaDePublicacion"/>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:choice>
        </xs:complexType>
    </xs:element>
</xs:schema>